@import "compass/css3";


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

header{
    background-color: #84b6f4;
}

footer{
    background-color: #84b6f4;
}

body{
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

.btn-outline-primary {
    --bs-btn-color: #3347db;
    --bs-btn-border-color: #3347db;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3347db;
    --bs-btn-hover-border-color: #3347db;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3347db;
    --bs-btn-active-border-color: #3347db;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #3347db;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #3347db;
    --bs-gradient: none;
}


.bodyimage {
    font-family: 'Titillium Web', sans-serif;
    background-image: url("bicicleta_login.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    transition: .5s ease;

    &:hover {
        color: white;
    }
}


.form {
        background: lightblue;
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: solid 5px;
        box-shadow: 0 4px 10px 4px rgba(form-bg, .3);
        background-color: rgba(255, 255, 255, 0.7);
}

.mt-4 {
    width: 50%;
    margin: auto;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba(lightgray, .25);
        color: lightgray;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;

        &:hover {
            background: darkblue;
            color: white;
        }
    }

    .active a {
        background: main;
        color: white;
    }
}


.tab-content>div:last-child {
    display: none;
}


h1 {
    color: #000000;
    font-weight: 600;

}

h2 {
    color: #000000;
    font-weight: 600;
  }

  .btn-primary {
    background-color: #3347db;
    border: none;
  }

  .btn-primary:hover {
    background-color: #84b6f4;
  }

label {
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;

    .req {
        margin: 2px;
        color: main;
    }
}


label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;

    .req {
        opacity: 0;
    }
}


label.highlight {
    color: white;
}


input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid gray-light;
    color: white;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;

    &:focus {
        outline: 0;
        border-color: main;
    }
}


textarea {
    border: 2px solid gray-light;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}


.top-row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    >div {
        float: left;
        width: 48%;
        margin-right: 4%;

        &:last-child {
            margin: 0;
        }
    }
}


.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: main;
    color: white;
    transition: all.5s ease;

    &:hover,
    &:focus {
        background: main-dark;
    }
}


.button-block {
    display: block;
    width: 100%;
}


.forgot {
    margin-top: -20px;
    text-align: right;
}


.wrapper {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    margin: auto;
}

.wrapper-productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}


.productos {
    width: 620px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-right: 35px;
    margin-bottom: 10px;
    height: 150px;
}


.carrito {
    width: 30%;
    height: 10%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}


.producto-item {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}


.producto-item span {
    margin-right: 10px;
}


.botones {
    display: flex;
    gap: 5px;
}


.boton {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;

}


.boton:hover {
    background-color: #e0e0e0;
}


.total {
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}


.boton-pagar {
    background-color: #000000;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 30px;
    margin-left: 50%;
    margin-top: 15px;
    transition-duration: 0.4s;
}


.boton-pagar:hover {
    background-color: #c5c0c0;
}


.producto-titulo {
    text-align: center;
}


.specs-title {
    text-align: center;
}


#imgcarrito {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    padding-bottom: 15px;
}